/* Reset some default browser styles */
html, body {
    height: 100%;
}
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Set a background color and font for the body */
body {
    background-color: #181717;
    font-family: Arial, sans-serif;
}

/* Style the container */
.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 99vw;
    height: 100vh;
}
.container > div {
    box-sizing: border-box;
}
/* Style the container */



/* Style for scrolling news section */
.container > .time_newsScrolling {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 99vw;
    border-bottom: 1px dotted rgb(17, 135, 214) ;


    height: 100px !important;
}
.container > .time_newsScrolling > .date_time {
    /* width: 30%; */
    margin-right: 10px;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    height: 100%;

    font-family: Arial, sans-serif;
    
}
.container > .time_newsScrolling > .date_time > .day_year{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
    flex: 1;
    font-size: 18px;
    padding: 5px 0;

}
.container > .time_newsScrolling > .date_time > .day_year > span{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    padding: 3px 0;
    margin: 0;
    font-size: 15px;
    height: 90%;
    flex: 1;
    /* width: 90%; */
}
.container > .time_newsScrolling > .date_time > .day_year > span:nth-child(1){border-radius: 50px 0 0 50px;color: white;}
.container > .time_newsScrolling > .date_time > .day_year > span:nth-child(2){border-radius: 0 50px 50px 0;color: white;}
.container > .time_newsScrolling > .date_time > .day_year > span > p:nth-child(2){
    padding: 0 15px;
    /* border-radius: 10px 0 0 10px; */
    
}
.container > .time_newsScrolling > .date_time > .day_year > span:nth-child(1) > p:nth-child(1){
    padding: 0 15px;
}
.container > .time_newsScrolling > .date_time > .day_year > span:nth-child(1) > p:nth-child(2){
    border-radius: 20px 0 0 20px;
    height: 100%;
    padding: 0 5px 0 15px;
}
.container > .time_newsScrolling > .date_time > .day_year > span:nth-child(2) > p:nth-child(1){
    border-radius: 0 20px 20px 0;
    height: 100%;
    padding: 0 15px 0 5px;
}
.container > .time_newsScrolling > .date_time > .day_year > span > p{
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* width: 90%; */
}
.container > .time_newsScrolling > .date_time > .day_year > span > p:first-child{
    /* margin-right: 5px; */
    padding-left: 10px;
}
.container > .time_newsScrolling > .date_time > .time {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    width: 100%;
    height: 100%; 

    /* font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase; */


    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;

    /* font-family: "Urbanist", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase; */

    /* font-family: "Varela Round", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal; */
    
}
.container > .time_newsScrolling > .date_time > .time > span {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
   
    margin: 0;
    /* background-color: blue; */
    border-radius: 20px  0 0 20px;
    padding-left: 5px;
    height: 85%;
   
    /* box-shadow: 4px 0 2px #FFFFFF,  -1px 0 2px #222; */
}
.container > .time_newsScrolling > .date_time > .time > span > p {
    padding: 0;
    margin: 0;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px !important;

    color: black;
}
.container > .time_newsScrolling > .date_time > .time > span > p:nth-child(1),
.container > .time_newsScrolling > .date_time > .time > span > p:nth-child(3)
{
    padding: 0 2px 0 2px;
}
.container > .time_newsScrolling > .date_time > .time > span > p:nth-child(2){
    width: 10px;
    font-weight: 400;
}
.container > .time_newsScrolling > .date_time > .time > p {
    /* padding: 5px; */
    /* background-color: #fb00ff; */
    border-radius: 0 20px 20px 0;
    padding: 0 5px 0 5px;
    height: 75%;
    font-size: 40px !important;
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: black;

    /* box-shadow: 1px 0 1px #222,  -4px 0 2px #FFFFFF; */

}
.container > .time_newsScrolling  > .scrolling_news {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;

    
    display: flex;
    align-items: center;
    position: relative;
    /* padding: 10px 0; */

    border: none;
    outline: none;

    height: 100px !important;
    
}
.container > .time_newsScrolling  > .scrolling_news > .news_text_label {
    background-color: rgb(114, 114, 114);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    
    position: absolute;
    color: white;
    font-size: 25px;
    font-weight: bold;
    z-index: 999;

    height: 100px !important;
}
.container > .time_newsScrolling  > .scrolling_news > .scrolling_text {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    position: absolute;
    z-index: 9;
}
.container > .time_newsScrolling  > .scrolling_news > .scrolling_text > .headline_item {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-radius: 30px 20px;
    box-shadow: rgba(177, 170, 170, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    
}
.container > .time_newsScrolling  > .scrolling_news > .scrolling_text > .headline_item > p{
    margin-right: 5px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 18px;
    border-radius: 30px 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.container > .time_newsScrolling  > .scrolling_news > .scrolling_text > .headline_item > span {
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
    
}
/* Style for scrolling news section */



/* Style for stock market price section */
.stock_market_price_scolling {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    gap: 5px;

    height: 140px !important;
    
}
.stock_market_price_scolling > .dse_container ,
.stock_market_price_scolling > .cse_container  {
    display: flex;
    flex-direction: row;
    padding: 5px 0;
    
    width: 100%;
    height: 60px;
  
}
.stock_market_price_scolling > .dse_container {
    border-bottom: dotted red;
}
.stock_market_price_scolling > .dse_container > label,
.stock_market_price_scolling > .cse_container > label {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.stock_market_price_scolling > .dse_container > .indicator ,
.stock_market_price_scolling > .cse_container > .indicator {
   
    padding: 15px 15px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    
    width: 5% !important;
 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.stock_market_price_scolling > .dse_container > .indicator > img,
.stock_market_price_scolling > .cse_container > .indicator > img {
    margin-bottom: 5px;
}
.stock_market_price_scolling > .dse_container > .indicator > label,
.stock_market_price_scolling > .cse_container > .indicator > label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 600;
    color: white
}
.stock_market_price_scolling > .dse_container > span:nth-child(2) ,
.stock_market_price_scolling > .cse_container > span:nth-child(2) { 
    flex: 1;
}
.stock_market_price_scolling > .dse_container > .dse_data,
.stock_market_price_scolling > .cse_container > .cse_data
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    position: relative;


    
}
.stock_market_price_scolling > .dse_container > .dse_data > div,
.stock_market_price_scolling > .cse_container > .cse_data > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
   
    
    position: absolute;
   
    height: 100%;
    
  
    border-radius: 5px;
    margin-right: 5px;
    


    
}
.stock_market_price_scolling > .dse_container > .dse_data > div > span:nth-child(2) > p:nth-child(1),
.stock_market_price_scolling > .cse_container > .cse_data > div > span:nth-child(2) > p:nth-child(1){
    width: 50px;
    color: white;
}
.stock_market_price_scolling > .dse_container > .dse_data > div > span:nth-child(2),
.stock_market_price_scolling > .cse_container > .cse_data > div > span:nth-child(2){
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   font-size: 12px;
   width: 90%;
 
   
}
.stock_market_price_scolling > .dse_container > .dse_data > div > span,
.stock_market_price_scolling > .cse_container > .cse_data > div > span {
    display: flex;
    flex-direction: row; 
    width: 150px;
}
.stock_market_price_scolling > .dse_container > .dse_data > div > span:first-child,
.stock_market_price_scolling > .cse_container > .cse_data > div > span:first-child{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: bold;
   
   
}
.stock_market_price_scolling > .dse_container > .dse_data > div > span:first-child > p:nth-child(2),
.stock_market_price_scolling > .cse_container > .cse_data > div > span:first-child > p:nth-child(2){
    font-size: 25px;
}
.stock_market_price_scolling > .dse_container > .dse_data > div > span:first-child > p:nth-child(1),
.stock_market_price_scolling > .cse_container > .cse_data > div > span:first-child > p:nth-child(1){ 
    font-size: 12px;
}
.stock_market_price_scolling > .dse_container > .dse_data > div > span:nth-child(2) > p:nth-child(2),
.stock_market_price_scolling > .cse_container > .cse_data > div > span:nth-child(2) > p:nth-child(2){ 
    color: white;
}
.stock_market_price_scolling > .dse_container > .dse_data > div > span:nth-child(2) > p:nth-child(1),
.stock_market_price_scolling > .cse_container > .cse_data > div > span:nth-child(2) > p:nth-child(1){ 
    max-width: fit-content;
    margin-right: 5px;
    
}
/* Style for stock market price section */




/* Card price section styling */
.card_price {
   display: flex;
   flex-direction: column;
   gap: 5px;
   padding-top: 10px;
   margin-top: 5px;

   flex: 1 !important;
}
.card_price >.stock_market, 
.card_price >.mine_item_market, 
.card_price >.bit_coin_market {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);

    padding: 5px 20px;
}
.stock_market > .card > span:nth-child(1) {
    /* background-color: #fb00ff; */
} 
.mine_item_market{
   
}
.bit_coin_market{
    /* background-color: blueviolet; */
}
.card_price > .stock_market > .card,
.card_price > .mine_item_market > .card , 
.card_price > .bit_coin_market > .card {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding:0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid gray;
    background-color: white;
    
}
.card_price > .stock_market > .card > .chart_div,
.card_price > .mine_item_market > .card > .chart_div , 
.card_price > .bit_coin_market > .card > .chart_div {
    height: 30px;
    width: 90%;
    margin: auto;
    margin-bottom: 5px;
}
.card_price > .stock_market > .card > .chart_div > div > div > div > svg,
.card_price > .mine_item_market > .card > .chart_div > div > div > div > svg , 
.card_price > .bit_coin_market > .card > .chart_div > div > div > div > svg {
    height: 100px;
}
.card_price > .stock_market > .card > span, 
.card_price > .mine_item_market > .card > span , 
.card_price > .bit_coin_market > .card > span {
    width: 100%;
}
.card_price > .stock_market > .card > span:nth-child(1), 
.card_price > .mine_item_market > .card > span:nth-child(1), 
.card_price > .bit_coin_market > .card > span:nth-child(1){
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:  rgb(114, 114, 114);
    /* background-color: #1C1C1E; */

    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    padding: 5px 0;
    font-size: 20px;
    
    border-radius: 5px 5px 0 0;
    color: white;
    color: rgba(251,251,252,255);
    
}
.stock_market > .card > span:nth-child(1) > p, 
.mine_item_market > .card > span:nth-child(1) > p, 
.bit_coin_market > .card > span:nth-child(1) > p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

  
    font-weight: 800;
    
    
}
.stock_market > .card > span:nth-child(1) > p:nth-child(1), 
.mine_item_market > .card > span:nth-child(1) > p:nth-child(1), 
.bit_coin_market > .card > span:nth-child(1) > p:nth-child(1){
    margin-right: 5px;
    font-size: 30px;

     
   
}
.stock_market > .card > span:nth-child(1) > p:nth-child(2), 
.mine_item_market > .card > span:nth-child(1) > p:nth-child(2), 
.bit_coin_market > .card > span:nth-child(1) > p:nth-child(2){ 



}
.stock_market > .card > div, 
.mine_item_market > .card > div, 
.bit_coin_market > .card > div{ 
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.stock_market > .card > div:nth-child(2), 
.mine_item_market > .card > div:nth-child(2), 
.bit_coin_market > .card > div:nth-child(2){  
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
    flex: 1;

    width: 90%;
    margin: auto; 
}
.stock_market > .card > div:nth-child(2) > p:nth-child(1), 
.mine_item_market > .card > div:nth-child(2) > p:nth-child(1), 
.bit_coin_market > .card > div:nth-child(2) > p:nth-child(1){ 
    font-size: 50px;
    font-weight: 700;
    
}
.stock_market > .card > div > p, 
.mine_item_market > .card > div > p, 
.bit_coin_market > .card > div > p{  
    font-size: 20px;
}
.stock_market > .card > div > span > p,  
.mine_item_market > .card > div > span > p,  
.bit_coin_market > .card > div > span > p{   
    padding: 2px 0;
}

.stock_market > .card > div:nth-child(3)>div>div>div>svg, 
.mine_item_market > .card > div:nth-child(3)>div>div>div>svg, 
.bit_coin_market > .card > div:nth-child(3)>div>div>div>svg{
    border-radius: 10px;
}
/* Card price section styling */


/*development section styling*/
.container >.development{
    padding: 10px 10px 10px 0;
    color: white;
    margin-top: 10px;
    border-top: 1px dotted blue;
    font-size: 20px;
    text-align: right;
    background-color: rgb(17, 135, 214);


    height: 50px !important;
}
.container >.development > span {
    height: 100% !important;
}
.container >.development > span > p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 100% !important;
}
.container >.development > span > p > img {
    padding: 0 5px;
    
}
/*development section styling*/




/* clock section styling */
.container > .time_newsScrolling > .date_time > .clock_section{
    height: 65px;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.container > .time_newsScrolling > .date_time > .clock_section > #clock{ 
	/* width:370px;  
	padding:40px; 
	margin:100px auto 60px;
	position:relative; */
    height: 100%;
    flex: 1;
    opacity: 0.9;
    
}
.container > .time_newsScrolling > .date_time > .clock_section > #clock > g > g > path{
    color: blue !important;
}

.container > .time_newsScrolling > .date_time > .clock_section > p {
    font-size: 42px;
    padding-left: 5px;
    color: white;
}

/*clock section styling*/






